<mat-toolbar color="primary">

    <span>Web App Using Angular CRUD</span>
    <span class="example-spacer"></span>
    <span class="fill-remaining-space">
    <button
      mat-raised-button
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      (mouseover)="menuTrigger.openMenu()"
      color="warn"
    >
      Register
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <!-- <button mat-menu-item routerLink="/student"> -->
          <!-- <span>Student</span> -->
          <button mat-menu-item (click)="openStudentDialog()">Student</button>
          <button mat-menu-item (click)="openClassDialog()">Class</button>
          <button mat-menu-item (click)="openCourseDialog()">Course</button>

    <!-- </button> -->


    <button mat-menu-item routerLink="/test">
          <span>Test</span>
        </button>
    </span>
    </mat-menu>
    </span>
</mat-toolbar>

<app-student></app-student>
<app-class></app-class>
