.example-spacer {
    flex: 1 1 auto;
<<<<<<< HEAD
}

 :focus {
    outline: 0 !important;
}

.view {
    margin-right: 15px;
}
=======
  }
  :focus {outline:0 !important;}
.view{
  margin-right: 30px;
}
>>>>>>> 2e843a7f14a7329270e6146712b8f692d39cec6a
